/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

/* sidebar */

:root {
    --color-primary: #0d6efd;
    --color-danger: #dc3545;
    --color-success: #198754;
    --color-warning: #ffc107;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #212529;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    background: var(--color-info-light);
}
::-webkit-scrollbar-thumb {
    background: var(--color-info-light);
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    background: var(--color-info-light);
}

body {
    width: 100vw;
    height: 100%;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
}

.containers {
    display: grid;
    width: 96%;
    margin: 0;
    gap: 1.8rem;
    grid-template-columns: 15rem auto;
    position: relative;
    left: 500;
}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

aside {
    height: 100vh;
    position: fixed;
}

.text-muted {
    color: var(--color-info-dark);
}

aside .top {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.3rem;
}

aside .logo {
    display: flex;
    gap: 0.8rem;
}

aside .logo img {
    width: 10rem;
    height: 10rem;
    margin-left: 2rem;
}

aside .close {
    display: none;
}

aside .sidebar {
    background: white;
    display: flex;
    flex-direction: column;
    height: 83vh;
    width: 200px;
    position: relative;
    top: 0;
    padding-top: 1rem;
}

aside h3 {
    font-weight: 500;
}

aside .sidebar a {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    text-decoration: none;
    transition: all 300ms ease;
}

aside .sidebar a.profile-bar {
    padding-top: 4rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    background: white;
    color: var(--color-primary);
    margin-left: 0;
}

.profile-pict {
    width: 3.5rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    color: var(--color-info-dark);
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    color: var(--color-dark-variant);
    transition: all 300ms ease;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 4rem;
    background: var(--color-danger);
    opacity: 0.7;
    width: 130px;
    height: 2.8rem;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

aside .sidebar a:last-child .text-logout {
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-left: -5px;
    margin-top: 5px;
    color: var(--color-background);
}
aside .sidebar a:last-child .icon-logout {
    justify-content: center;
    align-items: center;
    color: var(--color-background);
}

aside .sidebar a:last-child:hover {
    color: white !important;
}

aside .sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active:before {
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
    color: var(--color-primary);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
}

/* MAIN */

main {
    margin-top: 1.4rem;
    position: absolute;
    left: 16rem;
    top: 0;
    width: 85%;
    height: 100%;
    background: var(--color-info-light);
}

main .insights {
    width: 60rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
}

main .insights > div {
    background: var(--color-white);
    /* padding: var(--card-padding); */
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .insights > div:hover {
    box-shadow: none;
}

main .insights > div .middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

main .insights > div .number {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textoverview {
    margin-bottom: -3px;
}

.wrap {
    position: relative;
}

main .wrap a {
    text-decoration: none;
}

.input-uupk-baru {
    width: 100%;
    margin-top: 5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-15%, 95%);
    justify-content: center;
    align-items: center;
}

.pengaduan-unresolved {
    color: var(--color-danger);
    padding: var(--card-padding);
}

.pengaduan-process {
    color: var(--color-warning);
    padding: var(--card-padding);
}

.pengaduan-mediasi {
    color: var(--color-primary);
    padding: var(--card-padding);
}

.pengaduan-done {
    color: var(--color-success);
    padding: var(--card-padding);
}

.pengaduan-active {
    border: solid #32a899 2px;
}

/* .unresolved-td {
  color: var(--color-danger);
}

.onproses-td {
  color: var(--color-warning);
}

.mediasi-td {
  color: var(--color-primary);
}

.done-td{
  color: var(--color-success);
} */

/* END OF INSIGHTS */

/* TABLE */
main .pengaduan-pelanggan {
    margin-top: 1rem;
}

main .pengaduan-pelanggan h2 {
    margin-bottom: 0.8rem;
}

main .pengaduan-pelanggan table {
    background: var(--color-white);
    width: 100%;
    /* border-radius: var(--card-border-radius); */
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .pengaduan-pelanggan table:hover {
    box-shadow: none;
}

main table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    /* color: var(--color-dark-variant); */
}

main table tbody tr:last-child td {
    border: none;
}

/* main table tbody td a {
  display:block;
  text-decoration:none;
} */

/* main table tbody td .btn-process {
  width: 100px;
  display: flex;
  text-align: center;
  align-items: center;
  border-radius: 20px;
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 300ms ease;
} */

th,
td {
    padding: 8px 16px;
}

thead {
    background: #eee !important;
}

/* JAWAB PENGADUAN PELANGGAN */

.jawab-head {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
}

.kategori-detail {
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
}

.isi-pengaduan {
    color: black;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.label-isi-pengaduan {
    color: grey;
    margin: 0;
}

/* BERITA X UUPK*/

.featured-image {
    width: 100%;
    max-height: 400px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    object-fit: cover;
    object-position: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

/* BERITA */

.berita-head {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
}

.btn-berita-baru {
    width: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    text-decoration: none;
    border-radius: 20px;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    border: solid #32a899 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all 300ms ease;
}

main .btn-berita-baru:hover {
    box-shadow: none;
}

.edit-berita {
    display: flex;
    gap: 2rem;
}

.btn-edit-berita {
    width: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    border: solid #32a899 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all 300ms ease;
}

main .btn-edit-berita:hover {
    box-shadow: none;
}

/* BUAT BERITA BARU */

.input-berita-baru {
    margin-top: 7rem;
}

/* UUPK */

.uupk-head {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
}

.btn-uupk-baru {
    width: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    border: solid #32a899 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all 300ms ease;
}

.text-button {
    width: 100px;
    font-weight: 500;
}

main .btn-uupk-baru:hover {
    box-shadow: none;
}

.edit-uupk {
    display: flex;
    gap: 2rem;
}

.btn-edit-uupk {
    width: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    border: solid #32a899 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all 300ms ease;
}

main .btn-edit-uupk:hover {
    box-shadow: none;
}

/* POPUP */

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vw;
    z-index: 1;
    display: none;
}

.popup .contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: var(--color-background);
    width: 700px;
    height: auto;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: var(--box-shadow);
    border: solid black;
    border-radius: var(--border-radius-3);
}

.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: var(--color-danger);
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup.active .overlay {
    display: block;
}

.popup.active .contents {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

main .date {
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-bottom: 2rem;
    padding: 0.5rem 1.6rem;
}

main .date input[type="date"] {
    background: transparent;
    color: var(--color-dark);
}

.form-title {
    font-size: 1rem;
    font-weight: 500;
}

.TT-mediasi {
    color: var(--color-success);
}

/* .dtables {
  margin-top: 50px;
} */
